*{
	margin: 0;
	padding: 0;
}
.logo{
	margin-top: 20px;
}
.logo img{
	width: 200px;
	height: 70px;
	margin: auto;
	display: block;
}
.line{
	margin-top: 10px
}
.up{
	padding: 100px;
}
.heading_up h1{
	text-align: center;
	font-size: 52px;
	width: 60%;
	margin:auto;
}
.cat1{
	color: #4E8DF5;
	font-style: italic;
}
.cat2{
	color: #EA473A;
}
.cat3{
	color: #FABE39;
	font-style: italic;
}
.cat4{
	color: #3DAC5A;
}
.heading_up{
	margin-bottom: 100px
}
.middle h2{
	font-size: 50px;
	width: 40%;
	margin: auto;
	text-align: center;
}
.middle p{
	font-size: 24px;
	margin: 30px 0;
	margin-left: 100px;
	margin-top: 100px;
}
.down{
	background: #0CA26D;
	color: #fff;
	font-size: 70px;
	padding: 150px 0;
	margin-left: 100px;
	margin-top: 100px;
}
.down h3{
	width: 70%;
	margin: auto;
	text-align: center;
}
footer{
	text-align: center;
	padding: 50px 0;
	font-size: 20px;
}